#guest {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    display: block;
    width: 40%;
    height: 40px;
}

#name {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: block;
    height: 40px;
}

#email {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: block;
    height: 40px;
}

#password {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: block;
    height: 40px;
}

#signup {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    height: 40px;
}
#hospital{
    margin-top: 1%;
}

#onesha {
    display: none;
}
.container{
    background-color:lightgreen;
}
.jumbotron{font-style: italic;
font-size: xx-large;
text-align: center;
font-weight: bolder;
background-color: lightskyblue;}

